*{
    margin: 0px;
    padding: 0px;
}
html,body{
    height: 100%;
}
.headHome{
    width: 100%;
    height: 88px;
    position: sticky;
    z-index: 10;
    left: 0;
    top: 0;
    background-color:rgba(12, 5, 5, 0.3);
    .homeTop{
        width: 100%;
        height: 44px;
        margin: 0 auto;
        ul{
            list-style:none;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            .login{
                width: 57px;
                height: 44px;
                box-sizing: border-box;
                position: relative;
                .loginBtn{
                    width: 100%;
                    padding: 0 3px 0 8px;
                    line-height:48px;
                    position: absolute;
                    display: block;
                    font-size: 16px;
                    a{
                        text-decoration: none;
                        color:#000;
                    }
                }
            }
            .search{
                flex: 1;
                text-align: center;
                height: 44px;
                line-height: 44px;
                position: relative;
                a{
                    display: inline-block;
                    width: 267px;
                    height: 34px;
                    overflow: hidden;
                    margin-top: 7px;
                    color: #fff;
                    background-color:rgba(0, 0, 0, 0.3);
                    strong{
                        max-width: 203px;
                        overflow: hidden;
                        display: inline-block;
                        vertical-align: top;
                        line-height: 34px;
                        font-weight: 400;
                        font-size: 16px;
                    }
                }
            }
            .ShoppingCart{
                text-align: center;
                width: 49px;
                height: 44px;
                line-height: 44px;
                position: relative;
                span{
                    width: 100%;
                    line-height:48px;
                    position: absolute;
                    display: block;
                    font-size: 16px;
                    a{
                        text-decoration: none;
                        color:#000;
                    }
                }
            }
        }
    }
    .menu{
        overflow: hidden;
        width: 100%;
        height: 44px;
        margin: 0 auto;
        .box{
            overflow-x: scroll;
            overflow-y:hidden;
            width: 368px;
            height: 44px;
            margin: 0 auto;
            padding-left: 7.5px;
            box-sizing: border-box;
            ul{
                list-style:none;
                height: 44px;
                font-size: 14px;
                width: 400px;
                display: flex;
                justify-content: space-between;
                li{
                    text-align: center;
                    height: 44px;
                    line-height: 44px;
                    position: relative;
                    box-sizing: border-box;
                    width: 40px;
                    // float: left;
                    a{
                        text-decoration: none;
                        color:#000;
                    }
                }
            }
        }
    }
}
.white{
    position: fixed;
    background: #fff;
    z-index: 11;
    .homeTop{
        ul{
            .search{
                a{
                    background:rgba(0, 0, 0, 0.5)
                }
            }
        }
    }
   
}