
*{
	padding:0;
	margin:0;
	font-family: -apple-system,BlinkMacSystemFont,"'PingFang SC'",Helvetica Neue,Helvetica,Arial,sans-serif;
	outline: none;

html{
	// background-color:yellow;
	height: 100%;
	background-image: url("../../static/2.png");
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	// background-size: 150px;
}
section{
	margin-bottom: 160px;

div{
	display: flex;
	display: block;
	// position: relative;
	
.top{
	top:0;
	left:0;
	width:100%;
	height:60px;
	background-color:white;
	opacity: .9;
	display: flex;
	position:fixed;
	z-index: 9999;
	font-size: 20px;
	font-weight: bold;
	// margin-bottom: 60px;
	a{
		text-decoration: none;
		color:black;
	}
	ul{
		display:flex;
		width:100%;
		height: 60px;
		display: flex;
		list-style: none;
		li{
			height:60px;
			text-align: center;
			line-height: 60px;
			float: left;
			flex:1;
			list-style: none;
			font-size: 18px;
		}
	}
}
.guanggao{
	width:100%;
	height:0px;
	background-color: yellow;
	position: fixed;
	top:60px;
	left:0px;
	z-index: 9999;
	line-height: 40px;
	text-indent: 10px;
	color: red;
	// text-align: center;
	.span{
		// z-index: 9999;
		display: block;
		width:30px;
		height:30px;
		border:0px solid #DDD;
		background-color:red;
		opacity: .8;
		float: left;
		color:white;
		line-height: 30px;
	}
	li{
		background-color: white;
		height:50px;
		line-height: 50px;
		font-size: 18px;
		width: 99.6%;
		top:97px;
		left:0px;
		position: fixed;
		border: 1px solid red;
		margin-top: -7px;
		opacity: .9;
		text-align: center;
	}
	span{
		display: block;
		float: right;
		margin-right: 20px;
	}
}
.foot{
	height:70px;
	width:100%;
	bottom:0px;
	left:0;
	background-color:white;
	position: fixed;
	border-top: 1px solid #aaa;
	ul{
		display: flex;
		list-style: none;
		li{
			text-align:center;
			// text-indent: 14px;
			line-height: 70px;
			list-style: none;
			height: 70px;
			flex:1;
			font-size: 16px;
			text-indent: 4px;
			button{
				width:150px;
				height: 100%;
				float: right;
				background-color:#CCC;
				border:0px solid #DDD;
				font-size: 16px;
			}
			input{
				width:20px;
				height: 20px;
				margin-left:24px;
				float: left;
				margin-top: 25px;				
			}
			span{
				color:red;
				float: left;
				margin-left: 8px;
				font-size: 16px;
			}
		}
	}
}	
.box{
	top:60px;
	left:0px;
	height:200px;
	position:relative;
	// display: flex;
	width:100%;
	background-color: white;
	display:block;
	border-bottom: 1px solid #DDD;
	ul{
		list-style: none;
		background-color: lightyellow;
		height: 30px;
		li{
			height: 30px;
			list-style: none;
			background-color:#eee;
		}
	}
	.contain{
		display: flex;
	.left{
		height: 170px;
		float: left;
		line-height: 140px;
		list-style: none;
		flex:1;
		margin-left: 20px;
		background-color:white;
		input{
			float: left;
			margin-top: 60px;
			margin-left:-4px;
			width:20px;
			height:20px;
		}
		img{
			width:100px;
			float:left;
			border: 1px solid red;
			margin-left: 16px;
			margin-top: 8px;
		}
	}
	.right{
		// width: 230px;
		height: 170px;
		flex:1;
		float: right;
		margin-right: 10px;
		background-color:white;
		button{
			width:24px;
			height:24px;
			background-color: #DDD;
			border:0px solid #DDD;
			// margin-right: 10px;
			// margin-left: 10px; 
		}
		.hh{
			margin-top: 6px;
			font-weight: bold;
		}
		.p{
			// margin-top: -12px;
			text-overflow:ellipsis;
			font-size: 14px;
			font-weight: 200;
		}
		.hhh{
			color:red;
			margin-top: -10px;
			font-size: 10px;
			// margin-bottom: 8px;
		}
		div{
			display: inline-block;
			text-align: center;
			width: 34px;
			height:24px;
			line-height: 24px;
			text-align: center;
			padding-right: 10px;
			padding-left: 10px; 
			background-color: #CCC;
			margin-top: 1px;			
		}
	}
}
}
}
}
}